
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    background-color: #ffcc00;
    padding: 20px;
    text-align: center;
}

header h1 {
    color: #333;
}

section h2 {
    color: #ff6600;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table, th, td {
    border: 1px solid #ccc;
}

th {
    background-color: #ffcc00;
    color: #333;
    padding: 10px;
}

td {
    text-align: center;
    padding: 10px;
}

a {
    color: #ff6600;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#p3{
    color: red;
}
